.footer
	background url('../img/footer/pattern_bg.png')
	background-color #613993

.footer
	.container
		cf()
		padding 58px 0

.footer-logo
	padding 40px 0 0 0
	float left
	width 250px

.footer-sitemap
	cf()
	float left
	width 555px

.footer-menu
	float left
	width 162px

.footer-menu__title
	font 15px/25px 'elektra_light_probold'
	margin 0
	padding 0
	color #fff	
	
.footer-menu__list
	list-style none
	padding 0
	margin 0
	
.footer-menu__item-link
	color #fff
	font 15px/25px 'elektra_light_proregular' 

.footer-soc
	cf()
	float left

.footer-soc__inner
	float right
	padding-top 15px

.footer-soc-store__list
	cf()
	list-style none
	padding 0
	margin 0 0 28px -5px

.footer-soc-store__item
	float left
	margin-left 5px
	&:first-child
		margin-left 0
	
.footer-soc-store__link
	display block
	width 90px
	height 32px
	background no-repeat url('../img/social/store_link.png')
	font-size: 0

.footer-soc-store__link__appstore
	background-position-x 0	

.footer-soc-store__link__playmarket
	background-position-x -90px	

.footer-soc-net__list
	cf()
	list-style none
	padding 0
	margin 0 0 0 -5px

.footer-soc-net__item
	float left
	margin-left 5px
	&:first-child
		margin-left 0

.footer-soc-net__link
	display block
	width 44px
	height 44px
	background no-repeat url('../img/social/net_link.png')
	font-size: 0

.footer-soc-net__link__vk
	background-position-x 0px	
.footer-soc-net__link__fb
	background-position-x -52px
.footer-soc-net__link__tw
	background-position-x -104px	