section.content
	.slider
		.slider-wrapper
			ul.slider-list
				- for (var i=1; i<=3; i++)
					li.slider-list__item
						a(href="").slider-list__link
							img.slider-list__img(src="http://lorempixel.com/740/300/technics/" + i, alt="slide" + i)
							.slider__item-desc
								h3.item-desc__header iMac за пол цены
								p.item-desc__text Принеси свой старый Mac и получи скидку на новый!
	.product.product-popular
		h2.product__header Популярные товары
			ul.product__list
				each product, idx in ["Apple Thunderb Display 27\"", "iMac 27\"", "iPhone 5s Gold"]
					li.product__item
						a.product__link(href="")
							.product__img-wrapper
								img.product__img(src="http://lorempixel.com/90/90/technics/" + idx)
							p.product__title= product
							.product-prop
								table.product-prop__table
									tr.product-prop__tr
										td.product-prop__cell Артикул
										td.product-prop__cell 42787825
									tr.product-prop__tr
										td.product-prop__cell Опция
										td.product-prop__cell Включена
									tr.product-prop__tr
										td.product-prop__cell Цвет
										td.product-prop__cell Серебристый
									tr.product-prop__tr
										td.product-prop__cell Размер
										td.product-prop__cell 1280*1245*90
									tr.product-prop__tr
										td.product-prop__cell Вес
										td.product-prop__cell 9кг
	.product.product-discount
		h2.product__header Товары со скидкой
			ul.product__list
				each product, idx in ["iPad Air Wi-Fi 128GB - Silver", "Apple iPod nano 7G 16 ГБ Blue", "Роутер Wi-Fi Apple AirPort"]
					li.product__item
						a.product__link(href="")
							.product__img-wrapper
								img.product__img(src="http://lorempixel.com/90/90/technics/" + idx)
							p.product__title= product
							.product-prop
								table.product-prop__table
									tr.product-prop__tr
										td.product-prop__cell Артикул
										td.product-prop__cell 42787825
									tr.product-prop__tr
										td.product-prop__cell Опция
										td.product-prop__cell Включена
									tr.product-prop__tr
										td.product-prop__cell Цвет
										td.product-prop__cell Серебристый
									tr.product-prop__tr
										td.product-prop__cell Размер
										td.product-prop__cell 1280*1245*90
									tr.product-prop__tr
										td.product-prop__cell Вес
										td.product-prop__cell 9кг
