include head.jade

body
	h1  Lorem ipsum dolor sit amet!
	- for (var i = 1; i<=10; i++)
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolores, sint, fugit iste illum itaque nostrum deleniti consequatur quia recusandae illo eius iusto totam vero? Distinctio, voluptatum? Quidem, cum non.
