doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title AppleShop
		link(rel="stylesheet", href="bower/normalize.css/normalize.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.wrapper
			.container
				include sidebar.jade
				include content.jade
		
		include footer.jade
		script(src="bower/jquery/dist/jquery.min.js")
		script(src="bower/bxslider/jquery.bxSlider.min.js")
		script(src="js/main.js")