section.sidebar
	.logo
		a.logo__link AppleShop
			img.logo__img(src="img/logo/logo-header.png" alt="logo")
	.feedback.grey-box
		form
			h2.feedback__h2 Заказать звонок
			label.feedback__label Ваше имя
				input.feedback__input(type="text" name="feedback_name")
			label.feedback__label Телефон
				input.feedback__input(type="text" name="feedback_tel")
			label.feedback__label Дата звонка
				.feedback__date-select
					select.date-select__select(name="feedback_month")
						- for (var i=1; i<=12; i++)
							option(value=i)= i
					select.date-select__select(name="feedback_day")
						- for (var i=1; i<=31; i++)
							option(value=i)= i
			textarea.feedback__textarea(name="feedback_text")
			.feedback__btns
				input.feedback__btn.feedback__btn__submit(type="submit" value="Отправить")
				input.feedback__btn.feedback__btn__clear(type="button" value="Очистить")
	.gallery
		ul.gallery-list
			- for (var i=1; i<=9; i++)
				li.gallery-list__item
					img.gallery-list__img(src="http://lorempixel.com/70/70/nature/" + i)
	.contacts.grey-box
		ul.contact-list
			li.contact-list__item.contact-list__item__address г. Москва, ул. Новая 246, офис 214.
			li.contact-list__item.contact-list__item__tel +7(921) 322-12-32