section.sidebar
	.logo
		a.logo__link(href="/")
			img.logo__img(src="img/logo/logo-header.png" alt="logo")
			span.logo__text AppleShop
	.feedback.grey-box
		form(action="" method="post")
			h2.feedback__h2 Заказать звонок
			label.feedback__label
				.feedback__input-title Ваше имя
				input.feedback__input(type="text" name="feedback_name" placeholder="Константин")
			label.feedback__label
				.feedback__input-title Телефон
				input.feedback__input(type="text" name="feedback_tel" placeholder="+79826220560")
			label.feedback__label
				.feedback__input-title.feedback__input-title__date Дата звонка
				.feedback__date-select
					select.date-select__select(name="feedback_month")
						- for (var i=1; i<=12; i++)
							option(value=i)= i
					select.date-select__select(name="feedback_day")
						- for (var i=1; i<=31; i++)
							option(value=i)= i
			textarea.feedback__textarea(name="feedback_text" placeholder="Текст сообщения")
			.feedback__btns-row
				input.feedback__btn.feedback__btn__submit(type="submit" value="Отправить")
				input.feedback__btn.feedback__btn__clear(type="button" value="Очистить")
	.gallery
		ul.gallery-list
			- for (var i=1; i<=9; i++)
				li.gallery-list__item
					img.gallery-list__img(src="http://lorempixel.com/70/70/nature/" + i)
	.contacts.grey-box
		ul.contact-list
			li.contact-list__item.contact-list__item__address
				a.contact-list__item__link(href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%9D%D0%BE%D0%B2%D0%B0%D1%8F+%D0%94%D0%BE%D1%80%D0%BE%D0%B3%D0%B0,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0/@55.773516,37.700914,17z/data=!3m1!4b1!4m2!3m1!1s0x46b53564f4e0e3bb:0x7ee0278832fafc2b?hl=ru") г. Москва, ул. Новая 246, офис 214.
			li.contact-list__item.contact-list__item__tel
				a.contact-list__item__link(href="tel:+79213221232") +7(921) 322-12-32